/target
/target_bench/
/target_bench2/
/target-rel/
**/*.rs.bk
*.pdb
.niao-build/
.neko-build/
*.niaobc
*.nekobc
**/.niao/neko_libs/
*.vsix
build_*.txt
err*.txt
ncl_demo_out.csv
myapi/
windows/payload/
windows/niao_home/bin/
windows/niao_home/niao_libs/
target/
.fastembed_cache/
package-manager/.env
package-manager/.test-*/
package-manager/data/
package-manager/node_modules/
package-manager/public/

# scratch build/debug output
*.log
*.pid
/nview_*
/ngcp_*
/rt_*
/ns_*
/iso_*
/_*.txt
/nmverify.txt
/cargo_rt_*.txt
/nreq_bench_*.txt
/niao_rust_deps.txt
/cli_log.txt
/Untitled
